name: Run build test
on:
    push:
        branches:
            - dev
jobs:
    build-and-test:
        runs-on: ubuntu-latest
        steps:
            - name: Checkout
              uses: actions/checkout@v1

            - name: Build
              run: |
                  npm install
                  npm run-script build
